<section class="expense-container mt-5 position-relative">
  <!--Filter Panel-->
  <div class="row mx-2">
    <div class="col-8 px-0">
      <form action="/search">
        <div class="form-row">
          <!--Month Filter-->
          <div class="dropdown col-6">
            <input value="{{selectedMonth}}" type="hidden" name="defaultMonth">
            <a href="#" class="btn filter-btn dropdown-toggle btn-block rounded-0 shadow font-weight-bold "
              role="button" id="monthDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if selectedMonth}}{{selectedMonth}}{{else}}月份{{/if}}
            </a>
            <div class="dropdown-menu" aria-labelledby="monthDropdown">
              {{#each months}}
              <input type="submit" value="{{this}}" class="dropdown-item text-secondary" name="month">
              {{/each}}
              <div class="dropdown-divider"></div>
              <input type="submit" value="恢復預設" class="dropdown-item text-secondary" name="monthReset">
            </div>
          </div>
          <!--Category Filter-->
          <div class="dropdown col-6">
            <input value="{{selectedCategory}}" type="hidden" name="defaultCategory">
            <a href="#" class="btn filter-btn dropdown-toggle btn-block rounded-0 shadow font-weight-bold "
              role="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if selectedCategory}}{{selectedCategory}}{{else}}類別{{/if}}
            </a>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
              <input type="submit" value="家居物業" class="dropdown-item text-secondary" name="category">
              <input type="submit" value="交通出行" class="dropdown-item text-secondary" name="category">
              <input type="submit" value="休閒娛樂" class="dropdown-item text-secondary" name="category">
              <input type="submit" value="餐飲食品" class="dropdown-item text-secondary" name="category">
              <input type="submit" value="其他" class="dropdown-item text-secondary" name="category">
              <div class="dropdown-divider"></div>
              <input type="submit" value="恢復預設" class="dropdown-item text-secondary" name="categoryReset">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--Display Panel-->
  <section class="display-panel shadow-lg">
    <!--Total Expense Display-->
    <div class="row mx-2 py-2">
      <div class="col-8 rounded position-relative pt-2 amount-display">
        <h4 class="pt-1">總金額：</h4>
        <h1 class="text-right amount">{{totalAmount}}</h1>
      </div>
      <div class="col-4 pr-0">
        <div class="chart-display d-flex flex-column justify-content-center pr-2">
          <p class="p-0 m-0 text-center chart-title font-weight-bold">各項支出</p>
          <canvas id="total-amount-chart" class="position-relative"></canvas>
        </div>
      </div>
    </div>
    <!--Expense Detail Display-->
    <div class="row mx-2 expense-display">
      <ul class="list-group p-0 w-100">
        {{#if isEmptyRecord}}
        <li
          class="list-group-item d-flex flex-column p-0 justify-content-center align-items-center border-0 h-100 text-secondary empty-message">
          <h1 class="display-3"><i class="fas fa-smile-wink"></i></h1>
          <h3>沒有花錢紀錄</h3>
        </li>
        {{/if}}
        {{#each records}}
        <li class="list-group-item d-flex p-0 border-0">
          <div class="col-8 d-flex align-items-center py-2 rounded">
            <h1 class="d-inline-block m-0 text-info">{{#getIcon this.category}}{{/getIcon}}</h1>
            <div class="flex-grow-1 ml-2 text-secondary">
              <h4 class="m-0 pb-1">{{this.name}}</h4>
              <small class="d-block">{{getDisplayDate this.date}}</small>
            </div>
            <h5 class="d-inline-block m-0 text-secondary">{{this.amount}}</h5>
          </div>
          <div class="col-4 d-flex justify-content-center align-items-center py-2 rounded">
            <a href="/expenses/edit/{{this._id}}" class="btn btn-edit py-2">
              <i class="fas fa-edit"></i>
              <span class="d-none d-sm-inline-block pl-1">修改</span>
            </a>
            <button class="btn btn-delete ml-2 py-2" type="button" data-toggle="modal" data-target="#a{{this.id}}">
              <i class="fas fa-trash-alt"></i>
              <span class="pl-1 d-none d-sm-inline-block">刪除</span>
            </button>
            <!--Delete Modal-->
            <div class="modal fade" id="a{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="Delete Message Modal"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-secondary font-weight-bold"><i
                        class="fas fa-exclamation-triangle"></i>注意</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-secondary">
                    你確定要刪除「<span class="font-weight-bold">{{getDisplayDate this.date}} {{this.name}}</span> 」這筆紀錄嗎？
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <form action="/expenses/delete/{{this.id}}?_method=DELETE" method="post">
                      <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                      <input type="submit" value="刪除" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <!--Add new expense button-->
    <div class="row mt-2 mx-2 pb-2">
      <div class="col-8 text-center">
        <a href="/expenses/new" class="btn btn-success px-5 btn-add">新增支出</a>
      </div>
    </div>
  </section>
</section>