<div class="form-container position-relative shadow">
  <form action="/users/new-password" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="passwordToken" value="{{passwordToken}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row mb-4">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">*必填</small>
      </div>
      <div class="col-8">
        <h4 class="text-center font-weight-bold">重設密碼</h4>
      </div>
    </div>
    <!--Display error message-->
    {{> message}}
    <!--From input-->
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="password" class="col-3 col-form-label text-right">登入密碼*</label>
      <input type="password" name="password" id="password" class="col-9 form-control" value="{{user.password}}"
        pattern="^\S{8,12}$" required>
      <div class="valid-feedback col-9 p-0">
        格式正確！
      </div>
      <div class="invalid-feedback col-9 p-0">
        請填 8-12 位不含空白的數字、符號、英文字母！
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="rePassword" class="col-3 col-form-label text-right">確認密碼*</label>
      <input type="password" name="rePassword" id="rePassword" class="col-9 form-control" pattern="^\S{8,12}$"
        value="{{user.re-password}}" required>
      <div class="valid-feedback col-9 p-0">
        密碼正確！
      </div>
      <div class="invalid-feedback col-9 p-0">
        密碼不相同！
      </div>
    </div>
    <div class="row ml-1 mr-4 mt-0 justify-content-end">
      <div class="col-9 p-0 mt-0">
        <input type="submit" value="更新密碼" class="btn btn-info btn-block">
      </div>
    </div>
  </form>
</div>